.App {
  background: conic-gradient(
      #e2edff,
      rgba(255, 214, 233, 0.81),
      #fdffae94,
      rgba(229, 255, 240, 0.88)
    )
    #ffffff;
  height: auto;
  min-height: 100vh;
  padding-bottom: 2rem;
  margin: 0;
}

#btn {
  background: conic-gradient(
      #e2edff,
      rgba(255, 214, 233, 0.81),
      #fdffae94,
      rgba(229, 255, 240, 0.88)
    )
    #ffffff;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  /* font-family: "Poor Story", cursive; */
}

.title {
  font-family: "Playfair Display", serif;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
}

.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}

/* 발자국 방명록 */
.foot-print {
  background-image: url(../public/images/footPrint.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20rem;
  height: 18rem;
}

/* 회전 */
.rotate-img:focus {
  transform: rotateY(180deg);
  transition: all 0.3s linear;
}

/* 스크롤바 설정*/
.scroll-bar::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 막대 설정*/
.scroll-bar::-webkit-scrollbar-thumb {
  background: linear-gradient(#c4c5ff, #fcf7ea);
  border-radius: 25px;
}

/* 스크롤바 뒷 배경 설정*/
.scroll-bar::-webkit-scrollbar-track {
  background-color: #b1b1b117;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
}

.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}
